.app__my-account {
    width: 100%;
    height: 900px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;    

    .app__my-account-container {
        width: 80%;
        height: 700px;
        border:1px solid #315375;
        background-color: #101b25;

        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;

        .app__profile-pic {
            width: 50%;
            height: 500px;
            border: 1px solid #315375;
            background-color: #0E1822;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

           h1 {
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            font-size: 2rem;
            color: #fff;
           }
           
           img {
            width: 200px;
            height: 200px;    
            border:1px solid #FF4655;

            object-fit: cover;
           }

           button{
            text-decoration: none;
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            color: white;
            cursor: pointer;
            font-size: 1rem;
            font-weight: bold;
            letter-spacing: 0.2rem;
            border: 1px solid #FF4655;
            padding: 10px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %23FF4655 /* fill: %230E1822; */ %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
            background-color: #0E1822;
            background-size: 200%;
            background-position: 200%;
            background-repeat: no-repeat;
            transition: 0.3s ease-in-out;
            transition-property: background-position, border, color;
            position: relative;
            z-index: 1;
            }
       
            button:hover {
                border: 1px solid #FF4655;
                color: white;
                background-position: 40%;
            }

            a{
                text-decoration: none;
                text-transform: uppercase;
                font-family: 'Roboto', sans-serif;
                color: white;
                cursor: pointer;
                font-size: 1rem;
                font-weight: bold;
                letter-spacing: 0.2rem;
                border: 1px solid #FF4655;
                padding: 10px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %23FF4655 /* fill: %230E1822; */ %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                background-color: #0E1822;
                background-size: 200%;
                background-position: 200%;
                background-repeat: no-repeat;
                transition: 0.3s ease-in-out;
                transition-property: background-position, border, color;
                position: relative;
                z-index: 1;
                }
           
                a:hover {
                    border: 1px solid #FF4655;
                    color: white;
                    background-position: 40%;
                }

        }

        .app__profile-user {
            width: 90%;
            height: 90%;

            display: grid;
            grid-template-rows: 50px 1fr 1fr 50px;            
            row-gap: 20px;
            justify-items: center;
            align-items: center;

            border: 1px solid #315375;
            background-color: #0E1822;

            .app__guide-header {

                display: flex;
                justify-content: center;
                align-items: center;
                
                h2 {                   
                    font-size: 2rem;
                    font-family: 'Roboto', sans-serif;
                    color: #fff;
                    text-transform: uppercase;
                    letter-spacing: 0.1rem;

                    span {
                        color:#FF4655;
                    }
                }
            }
            
        }

        .app__guides {
            height: 200px;
            width: 95%;
            border:1px solid #315375;
            background-color: rgba(12, 20, 27, 0.7);
            
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 50px;
            

            .app__votes {
                width: 20%;
                height: 100%;
                display: grid;
                grid-template-columns: 40px 40px;
                grid-template-rows: 50px 10px 50px;

                justify-content: center;
                align-content: center;
                
                row-gap: 10px;

                border:1px solid #315375;
                background-color: rgba(12, 20, 27, 0.7);
                

                .arrowup {
                    color: rgb(4, 255, 4);
                    grid-column: 1;
                    justify-self: center;
                    align-self: center;

                    font-size: 25px;
                }

                .arrowdown {
                    color: rgb(255, 0, 0);
                    grid-column: 1;
                    grid-row: 3;
                    justify-self: center;
                    align-self: center;

                    font-size: 25px;
                }

                p {
                    color: #fff;
                    font-family: 'Roboto', sans-serif;
                    font-size: 1rem;
                    font-weight: 400;
                    letter-spacing: 0.2rem;
                    text-transform: uppercase;

                    grid-column-start: span 2;


                    justify-self: center;
                    align-self: center;
                }

                .upvote {
                    margin-top: 4px;
                    grid-column: 2;
                    grid-row: 1;
                    justify-self: center;
                    align-self: center;
                }

                .downvote {
                    margin-top: 4px;
                    grid-column: 2;
                    grid-row: 3;
                    justify-self: center;
                    align-self: center;
                }

                span {
                    color: white;
                    font-family: 'Roboto', sans-serif;
                    font-size: 0.8rem;
                    font-weight: 500;
                    letter-spacing: 0.1rem;
                }

                button{
                    grid-column: span 2;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-family: 'Roboto', sans-serif;
                    color: white;
                    cursor: pointer;
                    font-size: 0.8rem;
                    font-weight: bold;
                    letter-spacing: 0.2rem;
                    border: 1px solid #FF4655;
                    padding: 5px;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %23FF4655 /* fill: %230E1822; */ %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                    background-color: #0E1822;
                    background-size: 200%;
                    background-position: 200%;
                    background-repeat: no-repeat;
                    transition: 0.3s ease-in-out;
                    transition-property: background-position, border, color;
                    position: relative;
                    z-index: 1;
                    }
               
                    button:hover {
                        border: 1px solid #FF4655;
                        color: white;
                        background-position: 40%;
                    }
               

        }

        .app__champion-icon {
            
            border:1px solid #315375;

            img {
                width: 130px;
                height: 130px;

                object-fit: cover;
            }

        }

        .app__guide-info {
            height: 50%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            font-family: 'Roboto', sans-serif;
            letter-spacing: 0.1rem;

            h2 {
                font-size: 1.3rem;
                color: white;
            }

            p {
                text-transform: capitalize;
                font-size: 0.8rem;
                color: white;

                span {
                    color: #FF4655;
                }
            }

        }

    }

    .app__view-guides {
       width: 100%;
       margin-bottom: 20px;
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 20px;

        button{
            text-decoration: none;
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            color: white;
            cursor: pointer;
            font-size: 1rem;
            font-weight: bold;
            letter-spacing: 0.2rem;
            border: 1px solid #FF4655;
            padding: 10px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %23FF4655 /* fill: %230E1822; */ %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
            background-color: #0E1822;
            background-size: 200%;
            background-position: 200%;
            background-repeat: no-repeat;
            transition: 0.3s ease-in-out;
            transition-property: background-position, border, color;
            position: relative;
            z-index: 1;
            }
       
            button:hover {
                border: 1px solid #FF4655;
                color: white;
                background-position: 40%;
            }



    }

    }

    .modal {
       position: fixed;
       top: 0;
       left: 0; 
       width: 100%;
       height: 100%;
       background-color: rgba(0, 0, 0, 1);
        
       display: flex;
       justify-content: center;
       align-items: center;
    
       z-index: 5;

       .modal-content {

        width: 80%;
        border: 1px solid #315375;
        background-color: #101b25;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .modal-header {
            width: 100%;
            margin: 20px 0px 20px 0px;
            display: flex;
            justify-content: space-around;
            align-items: center;

            
            h3 {
                color: #fff;
                font-family: 'Roboto', sans-serif;
                font-size: 2rem;
                text-transform: uppercase;

                span {
                    color: #FF4655;
                }

            }

            button {
                color: #fff;
                border: 1px solid #315375;
                background: none;
                font-size: 2rem;

                display: flex;
                justify-content: center;
                align-items: center;

                transition: 0.3s ease-in-out;

                cursor: pointer;
            }

            button:hover {
                color: #FF4655;
            }
        }


        .modal-container {
            position: relative;
            
            height: 500px;
            overflow-y: auto;
            border: 1px solid #315375;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
      


            .modal-images {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                gap: 20px;
                

                img {
                    width: 200px;
                    height: 200px;
                    border: 1px solid #FF4655;
                    border-radius: 5px;
                    cursor: pointer;
                    object-fit: cover;

                    transition: 0.3s ease-in-out;

                    cursor: pointer;
                    opacity: 0.3;
                }

                img:hover {
                    opacity: 1;
                }

                .selected {
                    opacity: 1;
                }
          }

        }

        .modal-btn-choose {
            margin: 20px 0px 20px 0px;

            button{
                text-decoration: none;
                text-transform: uppercase;
                font-family: 'Roboto', sans-serif;
                color: white;
                cursor: pointer;
                font-size: 1rem;
                font-weight: bold;
                letter-spacing: 0.2rem;
                border: 1px solid #FF4655;
                padding: 10px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %23FF4655 /* fill: %230E1822; */ %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                background-color: #0E1822;
                background-size: 200%;
                background-position: 200%;
                background-repeat: no-repeat;
                transition: 0.3s ease-in-out;
                transition-property: background-position, border, color;
                position: relative;
                z-index: 1;
                }
           
                button:hover {
                    border: 1px solid #FF4655;
                    color: white;
                    background-position: 40%;
                }

        }
        
        
       
        
       }

      
       
        
    }
}