.app__champion-page {
    
    margin-top: 100px;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .app__champion-container {
        width: 1300px;
        height: 300px;

        background-color: #03050785;

        display: flex;
        justify-content: center;
        align-items: center;

        .app__champion-banner {
            height: 250px;
            overflow: hidden;

            .app__champion-img {
                
                img {
                 width: 1047px;
                    height: 400px;
                     object-fit: cover;
                    }
                 }

            
           
        }
    }
}