.app__championlist {
    margin: 20px;
    padding: 20px;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 

    grid-column-gap: 10px;
    grid-row-gap: 100px;

    justify-items: center;
    
    .app__championlist-container {
        
        background: rgba(9, 15, 22, 0.9);
        border: 3px solid #FF4655;

        width: 150px;
        height: 200px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 12px;

        .app__champion-image {
           
            img {
                width: 120px;
                height: 120px;

                border: 3px solid #FF4655;
                border-radius: 100px;
                object-fit: cover;
            }

        }

        .app__champion-name {

            a {
                color: #fff;
                font-family: 'Roboto', sans-serif;
                font-size: 1.2rem;
                text-decoration: none;
                text-transform: uppercase;
            }
        }

        .app__champion-role {
            font-family: 'Roboto', sans-serif;
            text-transform: uppercase;
            font-size: 0.8rem;
            color: #fff;
        }

        .app__champion-tier {
            .tier-icon {
                font-size: 3rem;
                color: #fff;
            }
        }
    }
}