.app__championlist {
    margin: 30px;
    padding: 30px;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 

    grid-row-gap: 90px;

    justify-items: center;

    .app__champion-header {
        grid-row: 1;
        grid-column: span 6;

        width: 100%;
        
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            color: #fff;
            font-family: 'Roboto', sans-serif;
            font-size: 2rem;
            font-weight: 500;

            text-transform: uppercase;


            span {
                color: #FF4655;
            }

        }
        
    }
    
    .app__championlist-container {
        
        background: #090f16e6;
        border: 3px solid #FF4655;
        border-radius: 15px;

        width: 200px;
        height: 300px;

      

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 20px;

        box-shadow: 0px 0px 0px #FF4655;

        .app__champion-image {
           
            img {
                width: 150px;
                height: 150px;

                border: 3px solid #FF4655;
                border-radius: 100px;
                object-fit: cover;
            }

        }

        .app__champion-name {

            a {
                color: #fff;
                font-family: 'Roboto', sans-serif;
                font-size: 1.5rem;
                font-weight: 600;
                text-decoration: none;
                text-transform: uppercase;

                transition: 0.3s ease-in-out;
                
            }

            a:hover {
                color: #FF4655;
            }

        }

        .app__champion-role {
            font-family: 'Roboto', sans-serif;
            text-transform: uppercase;
            font-size: 0.7rem;
            font-weight: 200;
            color: #fff;
        }
    }

    .app__championlist-container:hover {
        box-shadow: 0px 0px 20px #FF4655;
    }
}