.app__create-account {
   width: 100%;
   height: 900px;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   .app__nav-home {
    width: 100%;
    height: 100px;
    background: rgb(9,15,22);
    background: linear-gradient(90deg, rgba(9,15,22,1) 0%, rgb(4, 7, 10) 35%, rgb(7, 10, 14) 100%);

    position: fixed;
    top: 0;

      .app__navbar-logo {
         width: 100%;
         height: 100%;
         margin-left: 20px;
         display: flex;
         justify-content: left;
         align-items: center;

         a {
             text-decoration: none;
             border: none;
             background: transparent;

             color: #fff;
             font-family: 'Roboto', sans-serif;
             font-size: 2rem;
             font-weight: 700;
             text-transform: uppercase;
             letter-spacing: 0.2em;

             cursor: pointer;
         }

         span {
             color: #FF4655;
         }
        
        
     }

   }
   

   .app__create-acc-container {
      border:1px solid #315375;
      
      background-color: #101b25;
      
      width: 25%;

      margin-top: 100px;
      

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .app__alert {
         margin: 20px;
         padding: 10px;
         border-radius: 25px;
         background-color: #00aa00;
         display: flex;
         justify-content: center;
         align-items: center;

         p {
            color: #fff;
            font-family: 'Roboto', sans-serif;
            font-size: 0.8rem;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
         }
      }

      .app__create-acc-header {
         margin-top: 50px;
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;

         h1 {
            font-size: 2rem;
            font-family: 'Roboto', sans-serif;
            text-transform: uppercase;
            color: #fff;

            span {
               color: #FF4655;
            }
         }
      
      }

   
      .app__create-list {
         width: 300px;
         height: 600px;
         
         display: flex;
         flex-direction: column;
         justify-content: space-around;

   
         .app__create-form {
            height: 400px;
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            background-color: #203242;
            border: 1px solid #315375;


            gap: 30px;

            label {
               width: 100%;
               color: #fff;
              

               font-family: 'Roboto', sans-serif;
               font-size: 1.2rem;
               text-transform: uppercase;
               letter-spacing: 0.2rem;

               display: flex;
               justify-content: center;
               align-items: center;
            }

            input {
               width: 100%;
               padding: 5px 10px 5px 10px;
               border-radius: 25px;
               
               background-color: hsla(209, 40%, 10%, 0.26);
               border: 1px solid #315375;
               outline-color: #FF4655;

               font-family: 'Roboto', sans-serif;
               font-size: 0.8rem;
               letter-spacing: 0.2rem;
               color: #fff;

            }
   
   
         }
      }

      .app__btn-lg-cr {
         width: 100%;
         margin-bottom: 5px;
         display: flex;
         flex-direction: column;
         justify-content: space-evenly;
         align-items: center;

         gap: 20px;

         button{
            text-decoration: none;
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            color: white;
            cursor: pointer;
            font-size: 1rem;
            font-weight: bold;
            letter-spacing: 0.2rem;
            border: 1px solid #FF4655;
            padding: 10px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %23FF4655 /* fill: %230E1822; */ %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
            background-color: #0E1822;
            background-size: 200%;
            background-position: 200%;
            background-repeat: no-repeat;
            transition: 0.3s ease-in-out;
            transition-property: background-position, border, color;
            position: relative;
            z-index: 1;
        }
       
         button:hover {
               border: 1px solid #FF4655;
               color: white;
               background-position: 40%;
         }

         a {
            text-decoration: none;
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            color: white;
            cursor: pointer;
            font-size: 1rem;
            font-weight: bold;
            letter-spacing: 0.2rem;
            border: 1px solid #FF4655;            
            padding: 10px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %23FF4655 /* fill: %230E1822; */ %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
            background-color: #0E1822;
            background-size: 200%;
            background-position: 200%;
            background-repeat: no-repeat;
            transition: 0.3s ease-in-out;
            transition-property: background-position, border, color;
            position: relative;
            z-index: 1;
        }
       
         a:hover {
               border: 1px solid #FF4655;
               color: white;
               background-position: 40%;
         }
         
         



      }
   }

  
}